#artist-homePage {
  display: none;
}
.artist-navBar {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  background-color: #fcebd5;
  box-shadow: 0px 2px 2px 0px #00000040;
  height: 69px;
  /* display: none; */
}
.logo-text {
  font-family: "Reenie Beanie", cursive !important;
  position: absolute;
  right: 0;
  color: #a16a5e;
  left: 23%;
  top: 37px;
  cursor: pointer;
}

.ham-img img{
  cursor: pointer;
}
.hamburger-menu {
  transition: all 0.25s ease-in-out;
}

.ham-menu {
  visibility: hidden;
  opacity: 0;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  width: 100%;
  background-color: #a16a5e;
  top: 70px;
  left: 0%;
  text-align: center;
  color: #fcebd5;
  transition: all 0.25s ease-in-out;
  font-size: 20px;
  font-weight: bold;
  transform: translateY(-10px);
  z-index: 9999999999999999999;
}
.ham-menu li {
  cursor: pointer;
  text-align: center;
}

.active .ham-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}


.first-section-artist {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  color: #fcebd5;
}

.box {
  background-color: #a16a5e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 10px;
  width: 180px;
  height: 120px;
  padding: 10px 10px;
  border-radius: 2px;
  box-shadow: 0px 1px 1px 0px #00000040;

}

.down-box {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0px;
  margin: 10px 10px;
  background-color: #d44c2e;
  border-radius: 2px;
  box-shadow: 0px 1px 1px 0px #00000040;
  cursor: pointer;
}

.text-chart {
  width: 90%;
  margin: 0px auto;
}
.buttons-charts {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0px auto;
  padding: 18px 0px;
}
.buttons-charts span {
  width: 100px;
  height: 27px;
  border-radius: 2px;
  background-color: #a16a5e;
  color: #fcebd5;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 1px 1px 0px #00000040;
}

.chart-section {
  background-color: #FCEBD5;
}
.chart-container {
  height: 80vh;
  width: 80vw;
  margin: 0px auto;
}

.itemsbyartists{
  display: flex;
  font-size: 30px;
}

.income{
  font-size: 30px;
  color: #fcebd5;
}
